.stub{
    -fx-background-color:linear-gradient(#57809f,#3c596e);;
}

.title_pane{
    -fx-background-color: white;
}

.exit_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: 
        linear-gradient(#ff5400, #be1d00);
    -fx-font-size: 85%;
}

.exit_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#9c2100, #a03400);
    -fx-font-size: 85%;
}

.greetings_label{
    -fx-font-weight: bold;
    -fx-font-size: 85%;
}

.username_label{
    -fx-font-weight: bold;
    -fx-font-size: 85%;
    -fx-text-fill: #1b571b;
}