
.button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#40ae40, #277e27);
}

.button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#1b571b, #286f28);
}