.error_pane {
    -fx-background-color:linear-gradient(#57809f,#3c596e);
}

.error_msg_label{
    -fx-text-fill: white;
}

.accept_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: 
        linear-gradient(#ff5400, #be1d00);
    -fx-font-size: 85%;
}

.accept_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#9c2100, #a03400);
    -fx-font-size: 85%;	
}

