.stub{
    -fx-background-color:linear-gradient(#57809f,#3c596e);
}

.title_pane{
    -fx-background-color: white;
}

.content_pane{
    -fx-background-color:linear-gradient(#57809f,#3c596e);
}

.exit_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: 
        linear-gradient(#ff5400, #be1d00);
    -fx-font-size: 85%;
}

.exit_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#9c2100, #a03400);
    -fx-font-size: 85%;
}

.greetings_label{
    -fx-font-weight: bold;
    -fx-font-size: 85%;
}

.username_label{
    -fx-font-weight: bold;
    -fx-font-size: 85%;
    -fx-text-fill: #1b571b;
}

.navigation_panel{
    -fx-background-color: #364f62;
}

.button_pane{
    -fx-background-color: #364f62;
}

.update_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#ffcf18, #ffe350);
    -fx-font-size: 85%; 
}

.update_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#f3b71b, #db960d);
    -fx-font-size: 85%; 
}

#to_main_button, #to_outlays_button, #to_incomes_button, #to_budget_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#40ae40, #277e27);
}

#to_main_button:hover, #to_outlays_button:hover, #to_incomes_button:hover, #to_budget_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#1b571b, #286f28);
}

#to_goodies_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: 
        linear-gradient(#4d718d,#4e738f)
}

#status_lbl1{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 120%;
}

#usermoney{
    -fx-text-fill: white;
    -fx-font-size: 350%;
}

#percenatge{
    -fx-text-fill: white;
    -fx-font-size: 900%;
}

#perc_ico{
    -fx-text-fill: white;
    -fx-font-size: 200%;
}

#lb2{
    -fx-text-fill: white;
}

#in_lbl2{
    -fx-text-fill: white;
}

#goods_lbl2, #last_mounth_lbl, #last_day_lbl{
    -fx-text-fill: white;
}

#ov_incomes_label, #ov_outlays_label, #ov_products_label, #ov_incomes_label, #ov_last_year, #ov_last_mounth{
    -fx-text-fill: white;
    -fx-font-size: 110%;
    -fx-font-weight: bold;
}

.table-view{
    -fx-font-size: 85%;
    -fx-font-weight: bolder;
    -fx-background-insets: 0, 0, 1, 2;
}

.table-row-cell:empty {    
    -fx-background-color: #466780;
}

.table-row-cell:active{
    -fx-background-color: #ffe24e;
}

.table-row-cell{
    -fx-background-color: #364f62;
}

.table-row-cell:hover{
    -fx-text-fill: #3c596d;
    -fx-background-color: #ffe24e;
}

.table-row-cell:odd{
    -fx-background-color: #466780;
}

.table-row-cell:odd:hover{
    -fx-text-fill: #3c596d;
    -fx-background-color: #ffe24e;
}

.table-cell{
    -fx-text-fill: white;
}
.table-cell:hover{
    -fx-text-fill: #3c596d;
}

.table-view .column-header-background {
    -fx-background-color: #49a354;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 100%;
    -fx-font-weight: bold;
}

.table-view .column-header{
    -fx-border-insets: 0 0 0 0;
    -fx-border-width: 0px;
}

.add_product_button{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#40ae40, #277e27);

}

.add_product_button:hover{
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#1b571b, #286f28);
}

.new_product_pane{
    -fx-background-color: #364f62;
}

.product_name_field, .product_price_field, .product_desc_text_area{
    -fx-border-radius: 0;
}

.removeProductsButton {
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: 
        linear-gradient(#ff5400, #be1d00);
    -fx-font-size: 85%;
}

.removeProductsButton:hover {
    -fx-background-radius: 0,0,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#9c2100, #a03400);
    -fx-font-size: 85%;
}


/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:horizontal .increment-button ,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.table-view .scroll-bar:vertical .increment-button ,
.table-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.table-view  .scroll-bar .increment-arrow,
.table-view  .scroll-bar .decrement-arrow,
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#364f62,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


